.main-header {
    font-size: 3rem;
    text-align: center;
    padding: 25px;
}
.local-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 24px;
}
.divider {
    height: 1px;
    background-color: #dbdbdb;
}
.box {
    border: 1px solid wheat;
    background-color: lemonchiffon;
    border-radius: 5px;
    box-shadow: 0 2px 3px hsla(0,0%,4%,.1), 0 0 0 1px hsla(0,0%,4%,.1);
    padding: 0.8rem;
    width: 50vw;
}
.box--transparent {
    background-color: transparent;
}
.box--small {
    flex: 0;
    width: 30vw;
}
.vertical-divider {
    width: 1px;
    height: 2em;
    background-color: #363636;
    margin: 0 6px;
}
.modal {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}
.blocks {
    display: flex;
    justify-content: space-between;
    padding-left: 7.5vw;
    padding-right: 7.5vw;
}
.blocks .block {
    width: 40vw;
    justify-content: flex-start;
}
.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.box--wide {
    width: 80vw;
}
.box--half {
    width: 40vw;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form__input-container {
    display: flex;
}
.form__input-container {
    display: flex;
}
.form__input-star {
    color: red;
    margin-left: 6px;
}
.form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form__close {
    width: 1.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    cursor: pointer;
    border-radius: 100%;
    color: white;
}
.form__label {
    margin-bottom: 10px;
}
.form__button-container {
    display: flex;
    justify-content: space-between;
    margin: 6px;
}
.form__button-container--right {
    display: block;
    text-align: right;
}
.form__divider {
    margin-bottom: 10px;
}
.input {
    -webkit-appearance: none;
    align-items: center;
    border-radius: 3px;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.25;
    padding: .5em .625em;
    position: relative;
    vertical-align: top;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    color: #363636;
    box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
    max-width: 100%;
    width: 100%;
    font-family: "Comic Sans MS", serif;
    box-sizing: border-box;
}
.input::placeholder {
    font-family: "Comic Sans MS", serif;
}
.search {
    display: flex;
    padding: 12px;
}
.button {
    border-radius: 5px;
    box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
    border: 1px solid #dbdbdb;
    background-color: wheat;
    font-family: "Comic Sans MS", serif;
    padding: 5px 12px;
    font-size: 1.1rem;
    cursor: pointer;
}
.button--right {
    text-align: right;
}
.button--search {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-left: 6px;
}
.button--small {
    font-size: 0.75rem;
    padding: 3px 7px;
}
.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: cornsilk;
    padding: 5px 20px;
    margin-bottom: 25px;
    white-space: nowrap;
}
.app-header__elem {
    padding: 0;
    flex: 0;
    margin-bottom: 0;
}
.app-header__elem--link {
    padding: 10px;
}
.app-header__elem--title {
    flex: 1;
}
.page {
    min-height: 100vh;
    padding-bottom: 50px;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
}
.finance {
    align-items: flex-start;
    margin-top: 12px;
}
.finance__add-form {
    display: flex;
    margin-bottom: 6px;
}
.finance__add-input {
    width: 150px;
    margin-right: 6px;
}
.link {
    text-decoration: none;
    font-size: 16px;
}
.link__input {
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    align-items: center;
    font-family: "Comic Sans MS", serif;
    font-size: 16px;
    cursor: pointer;
}
.disabled .input {
    cursor: auto;
    pointer-events: none;
}
.disabled {
    cursor: auto;
    pointer-events: none;
}
.error-block {
    position: fixed;
    top: 100px;
    right: 100px;
    color: white;
    background-color: red;
    font-size: 24px;
    cursor: auto;
}
.success-block {
    position: fixed;
    top: 100px;
    right: 100px;
    color: white;
    background-color: green;
    font-size: 24px;
    cursor: auto;
}
.back-link {
    flex: 1;
}
.error-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 300px;
}
.error-page__header {
    font-size: 100px;
    color: red;
    margin-top: 100px;
    margin-bottom: 30px;
}
.error-page__message {
    font-size: 24px;
}
.error-page__button-container {
    margin-top: 24px;
}
