.invoices {
    margin-bottom: 12px;
}
.invoice {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 3px;
    padding-top: 6px;
    display: flex;
    justify-content: space-between;
}
.invoice:hover {
    background-color: #dbdbdb;
}
.invoice__title {
    flex: 1;
}
.invoice__title--self {
    color: darkblue;
}
.invoice__price {
    flex: 0;
    margin-right: 6px;
    color: red;
    white-space: nowrap;
}
.invoice__price--paid {
    color: green;
}
.invoice__approvement-message {
    color: red;
}
.invoice__delete {
    margin-bottom: 0;
    flex: 0;
}