.invoices-header {
    font-size: 24px;
}
.invoice__elem {
    margin-bottom: 6px;
}
.invoice-date {
    font-size: 14px;
}
.list__header {
    text-align: center;
    font-size: 18px;
}
.list-elem {
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 12px;
    padding-bottom: 3px;
}
.list-elem__header {
    display: flex;
    font-size: 18px;
    margin-bottom: 6px;
}
.list-elem__left {
    flex: 1;
}
.list-elem__right {
    flex: 0;
    margin-right: 6px;
    white-space: nowrap;
}
.list-elem__description {
    font-size: 14px;
}
.list-summary {
    margin-right: 18px;
    text-align: right;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 18px;
}