.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.login__header {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.login__divider {
    width: calc(100% + 1.6rem);
    margin-left: -0.8rem;
    margin-right: -0.8rem;
}

.login__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login__label {
    margin: 6px;
    min-width: 75px;
}

.login__label-text {
    margin-right: 6px;
}

.login__buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 6px;
}

.login__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__button {
    margin-top: 12px;
    text-decoration: none;
    color: black;
}