.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.registration__header {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.registration__divider {
    width: calc(100% + 1.6rem);
    margin-left: -0.8rem;
    margin-right: -0.8rem;
}
.registration__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.registration__label {
    margin: 6px;
    min-width: 75px;
}
.registration__label-text {
    margin-right: 6px;
}