@import "elements.css";

body {
    margin: 0;
    padding: 0;
    font-family: "Comic Sans MS", serif;
    color: #363636;
    box-sizing: border-box;
}
div, form {
    box-sizing: border-box;
}
form {
    margin-bottom: 0;
}
a, input, button {
    color: #363636;
}