.service {
    display: flex;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 12px;
    padding-bottom: 3px;
}
.service__body {
    display: inline-flex;
    flex-direction: column;
    flex: 1;
}
.service__add {
    cursor: pointer;
}
.service__add-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;
}
.service__header {
    display: flex;
    font-size: 18px;
    margin-bottom: 6px;
}
.service__title {
    flex: 1;
}
.service__price {
    flex: 0;
    margin-right: 6px;
}
.service__delete {
    margin-bottom: 0;
    flex: 0;
}
.service__description {
    font-size: 14px;
}