.users {
    margin-bottom: 12px;
}
.user {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 3px;
    padding-top: 6px;
    display: flex;
    justify-content: space-between;
}
.user:hover {
    background-color: #dbdbdb;
}